h1 {
    text-align: center; 
    border-bottom:1px solid #D8D8D8;
    padding-bottom: 6px;
}
h1 span {
    font-size: large;
    text-shadow: none;
}
#create_view{
    width:100%;
    table-layout:fixed;
}
#create_view th{
    font-variant: small-caps;
    font-weight: 100;
    font-size: 25px;

}
#create_view td{
    width:50%;
    vertical-align: top;
    padding-left:15%;
}
