 #db {
                 border-collapse: collapse;
                 border: 0;
                 }
             table{
                  width:100%;
                  text-align:center;
                  }
            #db th{
                 white-space: nowrap;
                background: none repeat scroll 0 0 #68C2F2;  
                font-weight: normal;
				position:relative;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                }
            #db th:hover {background-color: #85CCF1 }
            #db th.filtered{background: #3296CA;}
            #db th.filtered:hover {background-color: #4EA4D1}
                
                
            
            #db tr{
                border-top: 1px solid #D8D8D8;        
                transition:color .2s ease-out, background .1s ease-in;
                }
            #db tr:hover{
                background:#ecf4f9;
                }
            
            #db td{ 
                    font-family: arial,sans-serif;
                    overflow: hidden; 
                    text-overflow: ellipsis;
                    /*word-wrap: break-word; */
                    white-space: nowrap; 
                    }

            td{
                font-size: small; 
                padding:6px;
                line-height:120%;
                }
            td a{
                text-decoration: none;
                }
            h1{
                text-align:center;
                }
            .cage label, .bubble label{
                display: inline-block;
                float: left;
                clear: left;
                width: 150px;
                text-align: right;
                margin-right:10px;
                white-space:nowrap;
                }
            textarea{
                font-family: arial,sans-serif;;
                padding:0;
                margin:0;
                }
            .reserveSelect{ white-space: nowrap; margin-right: 20px;}
            .reserveSelect label, .reserveSelect select, .reserveSelect span, .reserveSelect input {padding: 0px 4px; float:left;}
            .reserve_notes{
                white-space: normal; 
                display: inline-block;
                border: solid 1px #999;
                width: 300px;
                margin-bottom: 20px;
                font-family: arial,sans-serif;
                font-size: small;
                padding:3px;
                line-height: 140%;
                max-height:200px;
                overflow-x:auto;
            }
            #selectColumns td{
                vertical-align:top;          
                }
            #selectColumns th{
                text-shadow: #CCC 1px 1px 0;
                font-family: Georgia,serif;
                color: #4E443C;
                font-variant: small-caps;
                text-transform: none;
                font-weight: 100;
                line-height: 1;
                font-size: 40px;
                }
            #selectColumns label{
                width:250px;
                }

            #selectColumns label{
                float:none; 
                }

            .cage label, .bubble label, input, select{
                margin-bottom:4px;
                }
            .cage.over {
              border: 3px dashed #999;
              }
            
            #viewtype {
                bottom:8px;
                }
            .hist_table_holder{
                max-height:500px;
                height:auto !important;
                height:1000px;
                overflow-x:auto;
            }
            .exp_list_holder{
                min-width: 1300px;
                max-height:500px;
                height:auto !important;
                height:1000px;
                overflow-x:auto;
            }
            .historytable{

            	background:#eaebec;
            	border:#ccc 1px solid;
            
            	-moz-border-radius:3px;
            	-webkit-border-radius:3px;
            	border-radius:3px;
            
            	-moz-box-shadow: 0 1px 2px #d1d1d1;
            	-webkit-box-shadow: 0 1px 2px #d1d1d1;
            	box-shadow: 0 1px 2px #d1d1d1;
                margin-right:40px
            }
            .historytable th:first-child {
            	text-align: left;
            	padding-left:20px;
            }
            .historytable tr:first-child th:first-child {
            	-moz-border-radius-topleft:3px;
            	-webkit-border-top-left-radius:3px;
            	border-top-left-radius:3px;
            }
            .historytable tr:first-child th:last-child {
            	-moz-border-radius-topright:3px;
            	-webkit-border-top-right-radius:3px;
            	border-top-right-radius:3px;
            }
            .historytable tr {
            	text-align: left;
            	padding-right:20px;
            }
            .historytable td:first-child {
            	border-left: 0;
                padding-right:20px;
            }
            .historytable td {
            	border-top: 1px solid #ffffff;
            	border-bottom:1px solid #e0e0e0;
            	border-left: 1px solid #e0e0e0;
            
            	background: #fafafa;
            	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
            	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
            }
            .historytable tr.even td {
            	background: #f6f6f6;
            	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
            	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
            }
            .historytable tr:last-child td {
            	border-bottom:0;
            }
            .historytable tr:last-child td:first-child {
            	-moz-border-radius-bottomleft:3px;
            	-webkit-border-bottom-left-radius:3px;
            	border-bottom-left-radius:3px;
            }
            .historytable tr:last-child td:last-child {
            	-moz-border-radius-bottomright:3px;
            	-webkit-border-bottom-right-radius:3px;
            	border-bottom-right-radius:3px;
            }
            .historytable tr:hover td {
            	background: #f2f2f2;
            	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
            	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
            }     
            
            
            
            
            fieldset{
                border:none;
                margin-bottom: 10px;
                padding-top: 10px;
                box-shadow: 2px 2px 10px #D0D0D0;
                }
            

            .resident img{
                transition:width .2s ease-out, background .1s ease-in;
                }
            .resident:hover img{
                width:10px;
                height:10px;
                }
            .resident.reserved { border-style:solid;
                border-width:2px;
                border-color:black;}
            .residents{
                text-align: left;}

            .onoffswitch {
                position: relative; width: 138px;
                -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
                }
            .onoffswitch-checkbox {
                display: none;
                }
            .onoffswitch-label {
                display: block; overflow: hidden; cursor: pointer;
                border: 2px solid #999999; border-radius: 20px;
                }
            .onoffswitch-inner {
                width: 200%; margin-left: -100%;
                -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
                -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
                }
            .onoffswitch-inner:before, .onoffswitch-inner:after {
                float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
                font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
                -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
                }
            .onoffswitch-inner:before {
                content: "Mouse view";
                padding-left: 10px;
                background-color: white; color: #68C2F2;
                }
            .onoffswitch-inner:after {
                content: "Cage view";
                padding-right: 10px;
                background-color: #68C2F2; color: white;
                text-align: right;
                }
            .onoffswitch-switch {
                width: 21px; margin: 4.5px;
                background: #F28F8F;
                border: 2px solid #999999; border-radius: 20px;
                position: absolute; top: 0; bottom: 0; right: 104px;
                -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
                -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
                }
            .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
                margin-left: 0;
                }
            .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
                right: 0px; 
                }
